<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Product</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Add New Product</h1>

  <form action="#" th:action="@{/products}" th:object="${product}" method="post">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" th:field="*{name}" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" th:field="*{category}" class="form-control" id="category">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" th:field="*{price}" class="form-control" id="price">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" th:field="*{quantity}" class="form-control" id="quantity">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>
