<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Product List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Product List</h1>
  <div class="mb-3">
    <a href="/products/new" class="btn btn-primary">Add Product</a>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.category}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.quantity}"></td>
      <td th:text="${product.createdAt}"></td>
      <td th:text="${product.updatedAt}"></td>
      <td>
        <a th:href="@{'/products/' + ${product.id} + '/edit'}" class="btn btn-primary">Update</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
